/* Inter-Light */
@font-face {
  font-family: "Inter-Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/Inter-Light.woff2") format("woff2");
}
/* Inter-Regular */
@font-face {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Inter-Regular.woff2") format("woff2");
}
/* Inter-Medium */
@font-face {
  font-family: "Inter-Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Inter-Medium.woff2") format("woff2");
}
/* Inter-SemiBold */
@font-face {
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/Inter-SemiBold.woff2") format("woff2");
}